<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088747327129-ag6bv6tr1a6nu99b266n13l6e4f18kfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088747327129-ag6bv6tr1a6nu99b266n13l6e4f18kfh</string>
	<key>API_KEY</key>
	<string>AIzaSyBGw5jqqXeAdJyosSyqY0hVHrJkCvTaeAo</string>
	<key>GCM_SENDER_ID</key>
	<string>1088747327129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eShopweb</string>
	<key>PROJECT_ID</key>
	<string>e-shop-6e0b3</string>
	<key>STORAGE_BUCKET</key>
	<string>e-shop-6e0b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088747327129:ios:532e62e379f7355c21f208</string>
</dict>
</plist>